<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ssul</title>
    <link rel="stylesheet" href="/stylesheets/board.css">
    <script type="text/javascript" src="/javascripts/board.js"></script>
</head>
<body>
    <header>
        <div class="center-align" id="header-div">
            <div class="inline-block" id="header-left"><a href="/"></a></div>
            <div class="inline-block" id="header-center"><a href="/">Ssul</a></div>
            <div class="inline-block" id="header-right">
                <div class="inline-block">
                    <% if(session.email){ %> 
                        <button id="mypage"><a href="#">마이페이지</a></button> 
                        <button id="logout"><a href="/logout">로그아웃</a></button>
                    <% } else{ %>
                        <button id="login_btn"><a href="../login">로그인</a></button> 
                        <button id="sign_up_btn"><a href="../login/Sign_Up">회원가입</a></button>
                    <% } %>
                </div>
            </div>
        </div>
    </header>
    <% include nav %>
    <section>
        <div class="center-align">
            <div id="inner-div">
                <div id="main-top">
                    <p>게시글 목록</p>
                </div>
                <div id="title-div">
                    <table>
                        <tbody>
                            <tr id="title-table">
                                <td>번호</td>
                                <td colspan="8">제목</td>
                                <td colspan="2">작성자</td>
                                <td colspan="2">작성일</td>
                                <td>조회수</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="comment-div">
                    <table>
                        <tbody>
                            <% 
                                for(var i=length-((page*page_num)-page_num); i>length-(page*page_num); i--) { 
                                    var item = "";
                                    if(i<0){
                                        break;
                                    }
                                    else{
                                        item = posts[i];
                            %>
                            <tr class="main-table">
                                <td class="align"><%= item.id %></td>
                                <% if(session){ %> 
                                    <td colspan="8" class="title-td"><a href="./user/<%= item.id %>"><%= item.title %></a></td>
                                <% } else{ %>
                                    <td colspan="8" class="title-td"><a href="../login"><%= item.title %></a></td>
                                <% } %>
                                <td colspan="2" class="align"><%= item.writer %></td>
                                <td colspan="2" class="align"><%= item.createdAt.toLocaleString() %></td>
                                <td class="align"><%= item.views %></td>
                            </tr>
                            <% } 
                            }%>
                            <tr class="main-table" id="page">
                                <td class="align" id="page_td" colspan="14">
                                    <%  if(page!=='1'){
                                            if(page < 11){ %>
                                            <button><a href="/board/1"><<</a></button>
                                    <%  }
                                        else{%>
                                            <button><a href="/board/1"><<</a></button>
                                    <%  } %>
                                        <button><a href="/board/<%= Number(page)-1 %>"><</a></button>
                                    <%  }
                                        else{}
                                        for(var j=0; j<result_leng; j++){
                                            if(j < 10){ %>        
                                            [ <a href="/board/<%= j+1 %>"><%= j+1 %></a> ]
                                    <%      }
                                            else if(9 < j < result_leng){ %>
                                            [ <a href="/board/<%= j+1 %>"><%= j+1 %></a> ]
                                    <%  }else{}}
                                        if(Number(page)!==result_leng){ %>
                                            <button><a href="/board/<%= Number(page)+1 %>">></a></button>
                                    <%  if(result_leng>100){ %>
                                            <button><a href="/board/<%= Number(page)+10 %>">>></a></button>     
                                    <%  }
                                        else{ %>   
                                            <button><a href="/board/<%= result_leng %>">>></a></button>
                                    <%  }}
                                        else{} %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <% if(session){ %> 
                        <button id="write-btn"><a href="./write">글쓰기</a></button>
                    <% } else{ %>
                        <button id="write-btn"><a href="../login">글쓰기</a></button>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</body>
</html>